<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/window.css">
    <title>Game</title>
</head>
<body>
    <div id="inventory" class="window" style="width: 400px">
        <div class="window-header" id="window-header">

            <div class="flex-space-between">
                <h6>Inventory</h6> 
                <button class="window-close" id="window-close">+</button>
            </div>

        </div>

        <div class="window-content">
            <div class="inventory-header flex-space-between" style="color: rgba(255, 255, 255, 0.574);">
                <p>Name</p>
                <div style="display: flex; gap: 20px">
                    <p>Class</p>
                    <p>WGT</p>
                    <p>VAL</p>
                </div>
            </div> 

            <div id="inventory-items">

            </div>
        </div>

        <div class="window-footer">

        </div>
        
    </div>

</body>
</html>